@use 'vuetify' with (
  $heading-font-family: 'Archivo',
  $body-font-family: 'TenorSans',
);

html {
  font-size: 20px;
}

.v-btn {
  text-transform: none !important;
  background-color: rgb(var(--v-theme-primary)) !important;
}

h1 {
  color: rgb(var(--v-theme-primary-darken-1)) !important;
  font-family: 'Archivo' !important;
}

